#ImgFactions11 {
    width: 280px;
    height: 400px;
}

#ImgFactions12 {
    width: 280px;
    height: 400px;
}

#ImgFactions21 {
    width: 280px;
    height: 400px;
}

#ImgFactions22 {
    width: 280px;
    height: 400px;
}

#ImgFactions31 {
    width: 280px;
    height: 400px;
}

#ImgFactions32 {
    width: 280px;
    height: 400px;
}

#ImgFactions41 {
    width: 280px;
    height: 400px;
}

#ImgFactions42 {
    width: 280px;
    height: 400px;
}

#ImgFactions51 {
    width: 280px;
    height: 400px;
}

#ImgFactions52 {
    width: 280px;
    height: 400px;
}

#ImgFactions61 {
    width: 280px;
    height: 400px;
}

#ImgFactions62 {
    width: 280px;
    height: 400px;
}

#ImgFactions71 {
    width: 280px;
    height: 400px;
}

#ImgFactions72 {
    width: 280px;
    height: 400px;
}

#ImgFactions81 {
    width: 280px;
    height: 400px;
}

#ImgFactions82 {
    width: 280px;
    height: 400px;
}

#ImgFactions91 {
    width: 280px;
    height: 400px;
}

#ImgFactions92 {
    width: 280px;
    height: 400px;
}